.welcome {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-size: 1.5rem;
    font-weight: $fw-n;
    color: $dark-blue;
    line-height: 2;
    text-align: center;
     @include mq {
       font-size: 2.5VW;
     }

    span {
      @include sans-serif($fs: 5.5rem, $color: $accent);
      display: block;
       @include mq {
       font-size: 10VW;
     }
    }

    &::before,
    &::after {
      content: '';
      width: 80%;
      height: 1px;
      background: $dark-blue;
      display: block;
      margin: 0 auto;
    }

    &::before {
      margin: 0 auto 2rem;
    }

    &::after {
      margin: 2rem auto 0;
    }
  }
}